[Desktop Entry]
Type=Application
Version=1.0
Name=MyNote
Comment=A very very simple Notepad-like editor
Exec=mynote
Terminal=false
Icon=mynote_icon.png
